{
  "root": true,
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": "off",
    "comma-dangle": "off",
    "jsx-a11y/accessible-emoji": "off"
  },
  "globals": {
    "fetch": false
  }
}
