// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/lime';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.green {
    color: #00A651;
}

.red {
    color: #ED1C24;
}

.button-green {
    background-color: #00A651;
    color: white;
    font-size: 16;
}

.bg-green {
    background-color: #00A651;
}